@font-face {
  font-family: "ClobberGroteskW01-Medium";
  src: url("//db.onlinewebfonts.com/t/f4e31ff864f4297e98cd95bd1d07fd7b.eot");
  src: url("//db.onlinewebfonts.com/t/f4e31ff864f4297e98cd95bd1d07fd7b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4e31ff864f4297e98cd95bd1d07fd7b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4e31ff864f4297e98cd95bd1d07fd7b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4e31ff864f4297e98cd95bd1d07fd7b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4e31ff864f4297e98cd95bd1d07fd7b.svg#ClobberGroteskW01-Medium")
      format("svg");
}

body {
  font-family: "ClobberGroteskW01-Medium";
  font-style: normal;
  text-transform: uppercase;
}

#navCheckbox {
  visibility: 0;
  opacity: 0;
  position: absolute;
  top: -100%;
  left: -100%;
}
#navCheckbox:checked + .navWrapper {
  left: 0;
}

.navWrapper {
  position: absolute;
  left: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.nav {
  background-color: #fff;
  text-align: center;
}
.nav .nav__item {
  display: block;
}
.nav .nav__item .nav__link {
  display: block;
  margin: 0;
  color: #212429;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  line-height: 18px;
  transition: all 0.2s ease-in-out;
}
.nav .nav__item .nav__link:hover {
  font-size: 18px;
  text-decoration: underline;
}
.nav .nav__item:first-of-type {
}
.nav .nav__item:hover .nav__secondary {
  max-height: 170px;
}
.nav .nav__secondary {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.nav .nav__secondary .nav__item:first-of-type {
  border-top: none;
}

.navTrigger {
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  right: -70px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: rotate(0deg);
}
.navTrigger .navTrigger__icon {
  display: block;
  position: relative;
  margin-top: 14px;
}
.navTrigger .navTrigger__icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #212429;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.navTrigger .navTrigger__icon span:nth-of-type(1) {
  top: -8px;
}
.navTrigger .navTrigger__icon span:nth-of-type(3) {
  bottom: -11px;
}
.navTrigger:hover,
.navTrigger.active {
  transition: all 0.2s ease-in-out;
  transform: rotate(180deg);
}
.navTrigger:hover .navTrigger__icon span:nth-of-type(1),
.navTrigger.active .navTrigger__icon span:nth-of-type(1) {
  transform: rotate(30deg);
  top: 0;
}
.navTrigger:hover .navTrigger__icon span:nth-of-type(2),
.navTrigger.active .navTrigger__icon span:nth-of-type(2) {
  width: 0;
  left: 50%;
}
.navTrigger:hover .navTrigger__icon span:nth-of-type(3),
.navTrigger.active .navTrigger__icon span:nth-of-type(3) {
  transform: rotate(-35deg);
  bottom: -4px;
}

h1 {
  font-size: 52px;
}
.dark {
  background-color: #fff;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 40px;
}
.main {
  width: 1024px;
  height: 768px;
  overflow: hidden;
  font-size: 20px
}
.menu {
  width: 256px;
  height: 768px;
  text-align: center;
  font-size: 20px
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a.button {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}
a.button:hover {
  background-color: #fff;
  color: #888;
}
a.button:active {
  background-color: #fff;
  color: #888;
  box-shadow: 0px 0px 50px #00d2ff;
}
a.imgLink {
  width: 100%;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #444;
  border: 3px solid #444;
  text-shadow: none;
  display: block;
}
a.imgLink:hover {
  border: 3px solid #fff;
  background-color: #444;
}
.code {
  white-space: pre;
  font-size: 0.7em;
  background-color: #000;
  margin-bottom: 30px;
}
.next,
.prev {
  position: absolute;
  bottom: 0px;
  right: 30px;
  display: inline-block;
  width: auto !important;
  padding: 20px 30px !important;
}
.prev {
  right: auto;
  left: 30px;
}
#page1 {
  position: relative;
  height: 100%;
}
#page2,
#page3,
#page4 {
  display: none;
  position: relative;
  height: 100%;
}
.slide {
  height: 100%;
}
.slide:target #page1 {
  display: none;
}
#slide2:target #page2 {
  display: block;
}
#slide3:target #page3 {
  display: block;
}
#slide4:target #page4 {
  display: block;
}
#page4 ul {
  list-style-type: square;
  font-size: 0.8em;
}
